[submodule ".registry"]
	path = .registry
	url = https://github.com/elipousson/universe
	shallow = true
	branch = HEAD
[submodule "sfext"]
	path = sfext
	url = https://github.com/elipousson/sfext
	shallow = true
	registered = true
[submodule "getdata"]
	path = getdata
	url = https://github.com/elipousson/getdata
	shallow = true
	registered = true
[submodule "maplayer"]
	path = maplayer
	url = https://github.com/elipousson/maplayer
	shallow = true
	registered = true
[submodule "filenamr"]
	path = filenamr
	url = https://github.com/elipousson/filenamr
	shallow = true
	registered = true
[submodule "cliExtras"]
	path = cliExtras
	url = https://github.com/elipousson/cliExtras
	shallow = true
	registered = true
[submodule "papersize"]
	path = papersize
	url = https://github.com/elipousson/papersize
	shallow = true
	registered = true
[submodule "isstatic"]
	path = isstatic
	url = https://github.com/elipousson/isstatic
	shallow = true
	registered = true
[submodule "overedge"]
	path = overedge
	url = https://github.com/elipousson/overedge
	shallow = true
	registered = true
[submodule "birdseyeview"]
	path = birdseyeview
	url = https://github.com/elipousson/birdseyeview
	shallow = true
	registered = true
[submodule "bingmapr"]
	path = bingmapr
	url = https://github.com/elipousson/bingmapr
	shallow = true
	registered = true
[submodule "mapbaltimore"]
	path = mapbaltimore
	url = https://github.com/elipousson/mapbaltimore
	shallow = true
	registered = true
[submodule "bcpss"]
	path = bcpss
	url = https://github.com/elipousson/bcpss
	shallow = true
	registered = true
[submodule "baltimoredata"]
	path = baltimoredata
	url = https://github.com/elipousson/baltimoredata
	shallow = true
	registered = true
[submodule "crashapi"]
	path = crashapi
	url = https://github.com/elipousson/crashapi
	shallow = true
	registered = true
[submodule "streetmixr"]
	path = streetmixr
	url = https://github.com/elipousson/streetmixr
	shallow = true
	registered = true
[submodule "FlickrAPI"]
	path = FlickrAPI
	url = https://github.com/koki25ando/FlickrAPI
	shallow = true
	registered = false
[submodule "baltimorecensus"]
	path = baltimorecensus
	url = https://github.com/elipousson/baltimorecensus
	shallow = true
	registered = false
[submodule "esri2sf"]
	path = esri2sf
	url = https://github.com/elipousson/esri2sf
	shallow = true
	registered = false
[submodule "exiftoolr"]
	path = exiftoolr
	url = https://github.com/JoshOBrien/exiftoolr
	shallow = true
	registered = false
[submodule "ggpath"]
	path = ggpath
	url = https://github.com/mrcaseb/ggpath
	shallow = true
	registered = false
[submodule "ggsvg"]
	path = ggsvg
	url = https://github.com/coolbutuseless/ggsvg
	shallow = true
	registered = false
[submodule "mapboxapi"]
	path = mapboxapi
	url = https://github.com/walkerke/mapboxapi
	shallow = true
	registered = false
[submodule "snapbox"]
	path = snapbox
	url = https://github.com/anthonynorth/snapbox
	shallow = true
	registered = false
[submodule "staticimports"]
	path = staticimports
	url = https://github.com/wch/staticimports
	shallow = true
	registered = false
[submodule "stylebox"]
	path = stylebox
	url = https://github.com/anthonynorth/stylebox
	shallow = true
	registered = false
